.input-text
	margin-bottom 2px
	display flex

	&_indent_name
	&_indent_year
		margin-bottom 1px

	&_indent_place
		margin-bottom 3px

	&__label
		margin-right 14px
		padding-top 36px
		font-size 22.43px
		font-weight 700

		&_indent_name
			margin-right 16px

		&_indent_year
			margin-right 13px
			padding-top 35px

		&_indent_place
			margin-right 17px

		&_indent_place
		&_indent_skype
			padding-top 37px

		&_indent_email
			padding-top 39px

		&_indent_date
			margin-right 17px
			padding-top 38px

	&__field
		flex-grow 1
		padding-x(15px)
		padding-top 7px
		height 60px
		font-family font-answer
		font-size 30px
		line-height 36px
		color color-font-answer
		background transparent url('../images/line.png') bottom left repeat-x
		border none

		&::-webkit-input-placeholder
			color color-placeholder

		&_indent_year
			padding-top 6px
			padding-left 16px

		&_indent_place
			padding-left 12px

		&_indent_skype
			padding-left 14px

		&_indent_place
			padding-top 10px

		&_indent_skype
			padding-top 13px

		&_indent_email
			padding-top 12px

		&_indent_date
			padding-top 12px
			padding-left 10px
			flex-grow 0
			width 206px
			height 58px
			background-size 300%
