.subtitle
	display block
	font-size 23.9px
	font-weight 700
	line-height 36px

	&_hidden
		display none

	&_indent_skills
		margin-bottom 3px

	&_indent_js-skill
		margin-bottom 20px

	&_indent_summary
		margin-bottom 7px

	&_indent_plans
		margin-bottom 2px
