.input-radio
	position relative
	display flex
	flex-wrap nowrap
	font-size 20px
	font-weight 700
	line-height 25px
	cursor pointer
	color color-black

	&__label
		padding-left 19px

	&__label::before
		position absolute
		top -2px
		left 1px
		content ''
		sprite ($radio)

	&__label_indent_markup::before
		left -1px

	&__label_indent_other
		position relative
		bottom 1px

		&::before
			top -1px
			left -13px

	&__field
		opacity 0

	&__field:checked + &__label::after
		position absolute
		top 6px
		left 9px
		content ''
		sprite($radio_check)

	&__field_indent_markup:checked + &__label::after
		left 7px

	&__field_indent_other:checked + &__label::after
		top 7px
		left -5px
