.container
	display block
	margin-x auto
	padding-top 48px
	padding-right 117px
	padding-left 112px
	padding-bottom 71px
	width 1000px
	background bg-color-container url(../images/bg.png) repeat 0 -10px
