include ../title/title
include ../section/section
include ../subtitle/subtitle
include ../description/description
include ../input-text/input-text
include ../skills/skills
include ../slider/slider
include ../textarea/textarea
include ../plans/plans

mixin profile()
	+b('form').profile&attributes(attributes)
		+title
			| Дело

		+section.personal
			+subtitle._hidden
				| Персональные данные
			+input-text( getData('personal') )

		+section.skills
			+subtitle._indent_skills
				| Расскажите о себе чекбоксами
			+description._indent_skills
				| Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
			+skills( getData('skills') )

		+section.js-skill
			+subtitle._indent_js-skill
				| Уровень владения JavaScript
			+slider( getData('js-skill') )

		+section.summary
			+subtitle._indent_summary
				| Расскажите о себе словами
			+description._indent_summary
				| Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
			+textarea( getData('summary') )

		+section.plans
			+subtitle._indent_plans
				| Какие у вас планы на будущее?
			+description._indent_plans
				| Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
			+plans( getData('plans') )

		+section.date
			+subtitle._hidden
				| Дата
			+input-text( getData('date') )
			//- Исправил опечатку в слове: "заполенения". На проекте сообщил бы об этом тимлиду/менеджеру.
