.profile
	display block

	&__personal
		margin-bottom 62px

	&__skills
		margin-bottom 45px

	&__js-skill
		margin-bottom 25px
		margin-left 2px

	&__summary
		margin-bottom 41px
		margin-left 2px

	&__plans
		margin-bottom 47px
