
@font-face
	font-family 'PTSans'
	src local('PTSans'),
		local('PTSans-Regular'),
		url('../fonts/ptsans-regular.woff2') format('woff2'),
		url('../fonts/ptsans-regular.woff') format('woff')
	font-weight 400
	font-style normal

@font-face
	font-family 'PTSans'
	src local('PTSans'),
		local('PTSans-Bold'),
		url('../fonts/ptsans-bold.woff2') format('woff2'),
		url('../fonts/ptsans-bold.woff') format('woff')
	font-weight 700
	font-style normal
