
@font-face
	font-family 'PT Sans'
	src url('../fonts/pt-sans-regular.eot')
	src url('../fonts/pt-sans-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pt-sans-regular.woff2') format('woff2'),
		url('../fonts/pt-sans-regular.woff') format('woff'),
		url('../fonts/pt-sans-regular.ttf') format('truetype'),
		url('../fonts/pt-sans-regular.svg#pt-sans-regular') format('svg')
	font-weight 400
	font-style normal

@font-face
	font-family 'PT Sans'
	src url('../fonts/pt-sans-bold.eot')
	src url('../fonts/pt-sans-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pt-sans-bold.woff2') format('woff2'),
		url('../fonts/pt-sans-bold.woff') format('woff'),
		url('../fonts/pt-sans-bold.ttf') format('truetype'),
		url('../fonts/pt-sans-bold.svg#pt-sans-bold') format('svg')
	font-weight 700
	font-style normal
