// Internal variables
pt-sans = 					'PT Sans', Arial, sans-serif
courier-new = 				'Courier New', Courier, monospace

color-black =				#000000
color-boulder = 			#797979
color-putty = 				#e7c995
color-eclipse =				#2f1b15
color-thunder =				#231f20
color-mine-shaft =			#3d3d3d
color-matisse =				#1f5f97


// Global variables
font-main = 				pt-sans
font-answer = 				courier-new

color-bg-page =				color-boulder
color-bg-container =		color-putty
color-font-main =			color-eclipse
color-font-answer =			color-thunder
color-font-description = 	color-mine-shaft
color-link =				color-matisse
color-placeholder =			color-boulder
