// Internal variables
pt-sans = 					'PT Sans', Arial, sans-serif
courier-new = 				'Courier New', Courier, monospace

color-black =				#000000
color-boulder = 			#797979
color-putty = 				#e7c995
color-eclipse =				#2f1b15
color-thunder =				#231f20
color-mine-shaft =			#3d3d3d
color-matisse =				#1f5f97


// Global variables
font-main = 				pt-sans
font-answer = 				courier-new

bg-color-page =				color-boulder
bg-color-container =		color-putty
font-color-main =			color-eclipse
font-color-answer =			color-thunder
font-color-description = 	color-mine-shaft
link-color =				color-matisse
