.slider
	display block

	&__scale
		position relative
		left -1px
		margin-bottom 4px
		size(769px, 43px)
		background transparent url('../images/slider.png') bottom left no-repeat

		&:hover
			cursor pointer

	&__pointer
		position relative
		top -18px
		left 350px
		display block
		width 50px
		height 60px

		&:hover
			cursor col-resize

		// для удобства на мобильных
		&:after
			position absolute
			top 38%
			left 50%
			content ''
			transform translate(-50%, -38%)
			sprite($slider_pointer)

		&_transition
			transition left .3s ease-in-out

	&__list
		display flex
		font-size 13px
		font-weight 700
		justify-content space-between
		line-height 19px

	&__item
		position relative
		display inline
		width 170px

		&:first-child
			left -1px
			width 144px

		&:nth-child(2)
			top -2px
			margin-right 58px

		&:nth-child(3)
			top -2px
			margin-right 90px

		&:nth-child(4)
			top 5px
			width 140px
